# Setting this to true may result in a memory leak
# FORCE_PORT_REPORT_ON_EVERY_REQUEST=false

# Set this to a number to hardcode the port ranges to check for free ports. 
# If not set then the port range for free-port checking will continuously diminish as the number of `/create` requests increase.
# Setting this is good because it will not arbitrarily limit the number of ports that can be checked.
# For example, the first session is created at 3001, then the /create command can no longer use 3001. Even if the original session is no longer alive.
# The downside of this is that when a session is being created while another is restarting there will be cases where there is port clash.
# KEEP_MIN_PORT


# Set this to a number to limit the top range of ports to check.
# By default the top end is 65535
# MAX_PORT


# Usually the main queue is where most of the orchestration jobs go for example, starting/stopping/restarting/creating sessions go to the main queue. By default the main queue has a concurrency of 1. Meaining only one operation is happening at a time.
# You can set this to be higher if there is a large number of orch tasks and you want them to be completed x at a time.
# MAIN_Q_CONCURRENCY=3