node_modules
dist
session
newsession
open-wa-wa-automate-*.tgz
**buttons.js
**req.ts
.idea
**qr_code_session.png
**.re.js

**.data.json

tempchangelog.txt
.npmrc
.DS_Store
demo/buttons.js

**.ignore.ts
