**docker**
src
logs
_user.json
**.data.json**
**.node-persist**
**application**.log
ansible.yaml
ubuntu-setup-script.sh
**ignore**
**example**
**.github**
**md
/folder
tests
**watchtower**
**.tf
Caddyfile
**.tfvars
**-audit.json
.env
.dopw
.terraform**
**postman_collection.json
**sw_col.json
**.gitignore