localhost {
	respond "Hello, world!"
	route /api/* {
		uri strip_prefix /api
		reverse_proxy localhost:9000
	}
	admin {
		origins localhost
	}
	route {
		
	}
	reverse_proxy /admin http://localhost:3000
}

# /admin requests should be sent to the admin process
# /api/* requests should be sent to their respective sessions
# /* should return "ok"