import { EditorRED } from "node-red";
import { <%NodeTypePascalCase%>EditorNodeProperties } from "./modules/types";

declare const RED: EditorRED;

RED.nodes.registerType<<%NodeTypePascalCase%>EditorNodeProperties>("<%NodeTypeKebabCase%>", {
  category: "function",
  color: "#a6bbcf",
  defaults: {
    name: { value: "" },
  },
  inputs: 1,
  outputs: 1,
  icon: "file.png",
  paletteLabel: "<%NodeLabel%>",
  label: function () {
    return this.name || "<%NodeLabel%>";
  },
});
