import { EditorNodeProperties } from "node-red";
import { <%NodeTypePascalCase%>Options } from "../../shared/types";

export interface <%NodeTypePascalCase%>EditorNodeProperties
  extends EditorNodeProperties,
    <%NodeTypePascalCase%>Options {}
