import { NodeInitializer } from "node-red";
import { <%NodeTypePascalCase%>Node, <%NodeTypePascalCase%>NodeDef } from "./modules/types";

const nodeInit: NodeInitializer = (RED): void => {
  function <%NodeTypePascalCase%>NodeConstructor(
    this: <%NodeTypePascalCase%>Node,
    config: <%NodeTypePascalCase%>NodeDef
  ): void {
    RED.nodes.createNode(this, config);

    this.on("input", (msg, send, done) => {
      send(msg);
      done();
    });
  }

  RED.nodes.registerType("<%NodeTypeKebabCase%>", <%NodeTypePascalCase%>NodeConstructor);
};

export = nodeInit;
